<!DOCTYPE html>
<html>

<head>

    <!--
------------------------------------------------------
* Created By : sdo
* File Name : 20190717_soluce07_Computed_Properties_Vue_JS_2.html
* Creation Date : Wed Jul 17 17:30:15 2019
* Last Modified : Wed Jul 17 17:32:59 2019
* Email Address : sdo@macbook-pro-de-sdo.home
* Version : 0.0.0.0
* License:
* 	Permission is granted to copy, distribute, and/or modify this document under the terms of the Creative Commons Attribution-NonCommercial 3.0 
* 	Unported License, which is available at http: //creativecommons.org/licenses/by- nc/3.0/.
* Purpose :
------------------------------------------------------
-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="./css/style.css">:w

    <title>20190717_soluce07_Computed_Properties_Vue_JS_2</title>
</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">

        <div class="product">

            <div class="product-image">
                <img :src="image" />
            </div>

            <div class="product-info">
                <h1>{{ title }}</h1>
                <p v-if="inStock">In Stock</p>
                <p v-else>Out of Stock</p>
                <p>{{ sale }}</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>


                <div class="color-box" v-for="(variant, index) in variants" :key="variant.variantId" :style="{ backgroundColor: variant.variantColor }" @mouseover="updateProduct(index)">
                </div>

                <button v-on:click="addToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }">
          Add to cart
        </button>

                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
        //Add a new boolean data property `onSale` and create a computed property that takes `brand`, `product` and `onSale` and prints out a string whenever `onSale` is true.

        var app = new Vue({
            el: '#app',
            data: {
                product: 'Socks',
                brand: 'Vue Mastery',
                selectedVariant: 0,
                details: ['80% cotton', '20% polyester', 'Gender-neutral'],
                variants: [{
                    variantId: 2234,
                    variantColor: 'green',
                    variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg',
                    variantQuantity: 10
                }, {
                    variantId: 2235,
                    variantColor: 'blue',
                    variantImage: 'https://www.vuemastery.com/images/challenges/vmSocks-blue-onWhite.jpg',
                    variantQuantity: 0
                }],
                cart: 0,
                onSale: true
            },
            methods: {
                addToCart: function() {
                    this.cart += 1
                },
                updateProduct: function(index) {
                    this.selectedVariant = index
                }
            },
            computed: {
                title() {
                    return this.brand + ' ' + this.product
                },
                image() {
                    return this.variants[this.selectedVariant].variantImage
                },
                inStock() {
                    return this.variants[this.selectedVariant].variantQuantity
                },
                sale() {
                    if (this.onSale) {
                        return this.brand + ' ' + this.product + ' are on sale!'
                    }
                    return this.brand + ' ' + this.product + ' are not on sale'
                }
            }
        })
    </script>
</body>

</html>