IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
BODY {
	BACKGROUND: url(Images/sable.jpg); FONT-FAMILY: arial,helvetica,geneva, sans-serif
}
H1 {
	COLOR: #0033ff; TEXT-ALIGN: center
}
H2 {
	COLOR: #0000ff; TEXT-ALIGN: left
}
H3 {
	MARGIN-LEFT: 1em; COLOR: #0033ff; MARGIN-RIGHT: 1em
}
.centre {
	MARGIN-LEFT: auto; WIDTH: 15em; MARGIN-RIGHT: auto
}
.comment {
	BORDER-RIGHT: #0000ff 2px solid; BORDER-TOP: #0000ff 2px solid; BACKGROUND: #e0e0e0; MARGIN: 0.5em; BORDER-LEFT: #0000ff 2px solid; WIDTH: 50%; COLOR: #0000ff; BORDER-BOTTOM: #0000ff 2px solid; paddind: 0.2em
}
.prog {
	BORDER-RIGHT: #0000ff 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #0000ff 2px solid; MARGIN-TOP: 1em; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: #000000; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #0000ff 2px solid; COLOR: yellow; PADDING-TOP: 0.5em; BORDER-BOTTOM: #0000ff 2px solid; FONT-FAMILY: courier,mono
}
.source {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 2px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; PADDING-BOTTOM: 0.5em; BORDER-LEFT: 2px solid; WIDTH: 50%; PADDING-TOP: 0.5em; BORDER-BOTTOM: 2px solid; FONT-FAMILY: courier,mono
}
TABLE {
	BORDER-RIGHT: #505050 1px solid; BORDER-TOP: #505050 1px solid; MARGIN-TOP: 1em; BORDER-LEFT: #505050 1px solid; WIDTH: 100%; COLOR: white; BORDER-BOTTOM: #505050 1px solid; BACKGROUND-COLOR: #808080; TEXT-ALIGN: left
}
TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 1px solid; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid
}
TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 1px solid; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid
}
TH {
	BACKGROUND-COLOR: #707070; TEXT-ALIGN: center
}
TD {
	FONT-WEIGHT: bold; FONT-FAMILY: courier, monospace; BACKGROUND-COLOR: #909090; TEXT-ALIGN: left
}
.rouge {
	COLOR: red
}
.liend {
	RIGHT: 0px; WIDTH: 50%; POSITION: absolute; TEXT-ALIGN: right
}
.lieng {
	LEFT: 0px; WIDTH: 50%; POSITION: absolute; TEXT-ALIGN: left
}
