BODY {
	BACKGROUND-COLOR: #ffffff
}
.backgroundbody {
	BACKGROUND-COLOR: #ffffff
}
#mesdiscussions {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.cBackHeader {
	BACKGROUND-COLOR: #336699
}
.cHeader {
	COLOR: #ffffff
}
.cBackHeader {
	COLOR: #ffffff
}
#mesdiscussions DIV.onglet_menu {
	COLOR: #ffffff
}
.cCopyright {
	COLOR: #000000
}
.copyright {
	COLOR: #000000
}
.cOnline {
	COLOR: #000080
}
.search {
	COLOR: #000080
}
.sondage {
	COLOR: #000080
}
.cCatTopic {
	COLOR: #000080
}
#mesdiscussions A.cCatTopic {
	COLOR: #000080
}
.cCatTopicVIP {
	COLOR: #0000ff
}
.fondForumSupercat {
	COLOR: #ffffff
}
.cBackTab1 {
	BACKGROUND-COLOR: #f7f7f7
}
.cat {
	BACKGROUND-COLOR: #f7f7f7
}
.sujet {
	BACKGROUND-COLOR: #f7f7f7
}
.profil {
	BACKGROUND-COLOR: #f7f7f7
}
.cBackTab2 {
	BACKGROUND-COLOR: #dedfdf
}
#mesdiscussions DIV.onglet_menu DIV A:hover {
	BACKGROUND-COLOR: #dedfdf
}
.onglet_menu_sel {
	BACKGROUND-COLOR: #dedfdf
}
.searchCase {
	BACKGROUND-COLOR: #dedfdf
}
.sujetCase1 {
	BACKGROUND-COLOR: #dedfdf
}
.sujetCase6 {
	BACKGROUND-COLOR: #dedfdf
}
.sujetCase6bis {
	BACKGROUND-COLOR: #dedfdf
}
.sujetCase9 {
	BACKGROUND-COLOR: #dedfdf
}
.catCase2 {
	BACKGROUND-COLOR: #dedfdf
}
.reponse {
	BACKGROUND-COLOR: #dedfdf
}
.profilCase2 {
	BACKGROUND-COLOR: #dedfdf
}
.profilCase5 {
	BACKGROUND-COLOR: #dedfdf
}
.profilCase4 {
	BACKGROUND-COLOR: #dedfdf
}
.modoCase0 {
	BACKGROUND-COLOR: #dedfdf
}
.modoCase1 {
	BACKGROUND-COLOR: #dedfdf
}
.modoCase1bis {
	BACKGROUND-COLOR: #dedfdf
}
.modoCase3 {
	BACKGROUND-COLOR: #dedfdf
}
.s1 {
	FONT-SIZE: 10px
}
#mesdiscussions TH H3 {
	FONT-SIZE: 10px
}
#mesdiscussions .arbo H1 {
	FONT-SIZE: 10px
}
#mesdiscussions .arbo H2 {
	FONT-SIZE: 10px
}
#mesdiscussions .arbo H3 {
	FONT-SIZE: 10px
}
#mesdiscussions .arbo H4 {
	FONT-SIZE: 10px
}
.right {
	FONT-SIZE: 10px
}
.messCase1 {
	FONT-SIZE: 10px
}
.repCase2 {
	FONT-SIZE: 10px
}
.toolbar {
	FONT-SIZE: 10px
}
.toberead {
	FONT-SIZE: 10px
}
.rightbutton {
	FONT-SIZE: 10px
}
.edited {
	FONT-SIZE: 10px
}
.legende {
	FONT-SIZE: 10px
}
.red {
	FONT-SIZE: 10px
}
.signature {
	FONT-SIZE: 10px
}
.sondage {
	FONT-SIZE: 10px
}
.sujet {
	FONT-SIZE: 10px
}
.arbo {
	FONT-SIZE: 10px
}
.cat {
	FONT-SIZE: 10px
}
.menu {
	FONT-SIZE: 10px
}
.nombres {
	FONT-SIZE: 10px
}
.s1Tableau {
	FONT-SIZE: 10px
}
.s1Ext {
	FONT-SIZE: 10px
}
.s1Topic {
	FONT-SIZE: 10px
}
.cBackHeader {
	FONT-SIZE: 10px
}
.copyright {
	FONT-SIZE: 10px
}
.s2 {
	FONT-SIZE: small
}
#mesdiscussions DIV.onglet_menu {
	FONT-SIZE: small
}
#mesdiscussions DIV.onglet_menu DIV A {
	FONT-SIZE: small
}
#mesdiscussions TEXTAREA {
	FONT-SIZE: small
}
.hop {
	FONT-SIZE: small
}
.seachhelp {
	FONT-SIZE: small
}
.profil {
	FONT-SIZE: small
}
.reponse {
	FONT-SIZE: small
}
.catCase2 {
	FONT-SIZE: small
}
.s2Tableau {
	FONT-SIZE: small
}
.s2Ext {
	FONT-SIZE: small
}
.s2Topic {
	FONT-SIZE: small
}
.cCatTopic {
	FONT-SIZE: small
}
.cCatTopicVIP {
	FONT-SIZE: small
}
.message {
	FONT-SIZE: small
}
.search {
	FONT-SIZE: small
}
.citation {
	FONT-SIZE: small
}
.oldcitation {
	FONT-SIZE: small
}
.quote {
	FONT-SIZE: small
}
.code {
	FONT-SIZE: small
}
.fixed {
	FONT-SIZE: small
}
.oldquote {
	FONT-SIZE: small
}
.spoiler {
	FONT-SIZE: small
}
.oldspoiler {
	FONT-SIZE: small
}
.Tableau {
	COLOR: #000080
}
.s1Tableau {
	COLOR: #000080
}
.s2Tableau {
	COLOR: #000080
}
.cat {
	COLOR: #000080
}
.sujet {
	COLOR: #000080
}
.Ext {
	COLOR: #000000
}
.seachhelp {
	COLOR: #000000
}
.searchCase {
	COLOR: #000000
}
.cExt {
	COLOR: #000000
}
.s1Ext {
	COLOR: #000000
}
.s2Ext {
	COLOR: #000000
}
.rightbutton {
	COLOR: #000000
}
.titreforum {
	COLOR: #000000
}
.toberead {
	COLOR: #000000
}
.arbo {
	COLOR: #000000
}
.menu {
	COLOR: #000000
}
.nombres {
	COLOR: #000000
}
.spoiler {
	COLOR: #000000
}
.oldspoiler {
	COLOR: #000000
}
.Topic {
	COLOR: #000000
}
#mesdiscussions DIV.onglet_menu DIV A:hover {
	COLOR: #000000
}
.onglet_menu_sel {
	COLOR: #000000
}
.profil {
	COLOR: #000000
}
.s1Topic {
	COLOR: #000000
}
.s2Topic {
	COLOR: #000000
}
.citation {
	COLOR: #000000
}
.oldcitation {
	COLOR: #000000
}
.quote {
	COLOR: #000000
}
.oldquote {
	COLOR: #000000
}
.message {
	COLOR: #000000
}
.reponse {
	COLOR: #000000
}
.legende {
	COLOR: #000000
}
.exemple {
	COLOR: #8c0000
}
.cFondu {
	COLOR: #8fabc7
}
.cLink {
	COLOR: #000080
}
#mesdiscussions A.cLink {
	COLOR: #000080
}
#mesdiscussions .search {
	BACKGROUND-COLOR: #dedfdf
}
#mesdiscussions .sondage {
	BACKGROUND-COLOR: #dedfdf
}
#mesdiscussions .citation {
	BACKGROUND-COLOR: #ffffff
}
#mesdiscussions .quote {
	BACKGROUND-COLOR: #ffffff
}
#mesdiscussions .spoiler {
	BACKGROUND-COLOR: #ffffff
}
#mesdiscussions .oldspoiler {
	BACKGROUND-COLOR: #ffffff
}
#mesdiscussions .barre {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/2-17-194-195-244-240-240-240.png); BACKGROUND-COLOR: #c2c3f4
}
#mesdiscussions .onglet {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 40px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: center
}
#mesdiscussions .ongletsel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 40px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: center
}
#mesdiscussions .ongletonmouseover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 40px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: center
}
#mesdiscussions .onglet {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/1-19-185-202-219-51-102-153.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #336699
}
#mesdiscussions .ongletsel {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/1-19-242-242-242-222-223-223.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #dedfdf
}
#mesdiscussions .ongletonmouseover {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/1-19-242-242-242-222-223-223.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #dedfdf
}
#mesdiscussions .beforonglet {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/3-19-255-255-255-51-102-153.png); BACKGROUND-REPEAT: no-repeat
}
#mesdiscussions .afteronglet {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/4-19-255-255-255-51-102-153.png); BACKGROUND-REPEAT: no-repeat
}
#mesdiscussions .beforongletsel {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/3-19-255-255-255-222-223-223.png); BACKGROUND-REPEAT: no-repeat
}
#mesdiscussions .afterongletsel {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/themes_static/temp/4-19-255-255-255-222-223-223.png); BACKGROUND-REPEAT: no-repeat
}
#mesdiscussions TABLE {
	BORDER-RIGHT: #c0c0c0 1px solid
}
#mesdiscussions DIV.onglet_menu DIV {
	BORDER-RIGHT: #c0c0c0 1px solid
}
#mesdiscussions TABLE.main {
	BORDER-TOP: #c0c0c0 1px solid
}
#mesdiscussions DIV.onglet_menu DIV {
	BORDER-TOP: #c0c0c0 1px solid
}
#mesdiscussions TD {
	BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions TH {
	BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions DIV.onglet_menu DIV A {
	BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions DIV.onglet_menu DIV SPAN {
	BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions .borderModeration {
	BORDER-RIGHT: #c0c0c0 2px solid; BORDER-TOP: #c0c0c0 2px solid; BORDER-LEFT: #c0c0c0 2px solid; BORDER-BOTTOM: #c0c0c0 2px solid
}
#mesdiscussions .dashed {
	BORDER-RIGHT: #f7f7f7 1px solid; BORDER-TOP: #c0c0c0 1px dotted; BORDER-LEFT: #f7f7f7 1px solid; BORDER-BOTTOM: #f7f7f7 1px solid
}
#mesdiscussions .error {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions .search {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions .sondage {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions TABLE.citation {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions DIV.citation {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions TABLE.quote {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions TABLE.spoiler {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
#mesdiscussions .wysiwygbar {
	BORDER-RIGHT: #4060a0 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #4060a0 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 0px; BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/icones/message/bar.png); BORDER-LEFT: #4060a0 1px solid; BORDER-BOTTOM: #4060a0 0px solid
}
#mesdiscussions .messagetabledel {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; MARGIN-TOP: 2px; MARGIN-BOTTOM: 1px; BORDER-LEFT: red 1px solid; BORDER-BOTTOM: red 1px solid
}
#mesdiscussions .messagetabledel TD {
	FILTER: alpha(opacity=40); BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/icones/trans2.gif); moz-opacity: 0.4
}
#mesdiscussions .selectplace {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/icones/fd_place_tlb.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 1px solid; WIDTH: 320px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap; POSITION: relative; HEIGHT: 125px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center; border-spacing: 0px
}
#mesdiscussions .selectplace P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; POSITION: relative; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#mesdiscussions .nowrap {
	WHITE-SPACE: nowrap
}
#mesdiscussions .selectplace TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap; HEIGHT: 10px; BORDER-RIGHT-WIDTH: 0px
}
#mesdiscussions .selectplace INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 10px; PADDING-TOP: 0px
}
#mesdiscussions .selectplace BR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mesdiscussions .actionscript-french .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.actionscript-french .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.actionscript .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.actionscript .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ada .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ada .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.apache .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.apache .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.applescript .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.applescript .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.asm .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.asm .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.asp .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.asp .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.bash .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.bash .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.blitzbasic .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.blitzbasic .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.c .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.c .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.c_mac .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.c_mac .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.caddcl .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.caddcl .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cadlisp .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cadlisp .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cpp .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cpp .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.csharp .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.csharp .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.css .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.css .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cssgen .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.cssgen .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.d .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.d .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.delphi .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.delphi .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.diff .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.diff .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.div .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.div .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.dos .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.dos .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.eiffel .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.eiffel .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.freebasic .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.freebasic .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.gml .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.gml .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.html4strict .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.html4strict .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ini .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ini .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.inno .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.inno .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.java .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.java .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.javascript .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.javascript .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.lisp .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.lisp .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.lua .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.lua .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.matlab .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.matlab .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.mpasm .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.mpasm .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.mysql .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.mysql .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.nsis .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.nsis .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.objc .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.objc .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ocaml-brief .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ocaml-brief .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ocaml .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ocaml .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.oobas .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.oobas .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.oracle8 .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.oracle8 .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.pascal .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.pascal .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.perl .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.perl .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.php-brief .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.php-brief .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.php .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.php .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.python .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.python .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.qbasic .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.qbasic .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ruby .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.ruby .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.scheme .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.scheme .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.sdlbasic .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.sdlbasic .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.smarty .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.smarty .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.sql .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.sql .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vb .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vb .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vbnet .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vbnet .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vhdl .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.vhdl .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.visualfoxpro .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.visualfoxpro .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.xml .de1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
.xml .de2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
#mesdiscussions .actionscript-french .kw1 {
	COLOR: #a1a100
}
.actionscript .kw1 {
	COLOR: #a1a100
}
.ada .kw1 {
	COLOR: #a1a100
}
.apache .kw1 {
	COLOR: #a1a100
}
.applescript .kw1 {
	COLOR: #a1a100
}
.asm .kw1 {
	COLOR: #a1a100
}
.asp .kw1 {
	COLOR: #a1a100
}
.bash .kw1 {
	COLOR: #a1a100
}
.blitzbasic .kw1 {
	COLOR: #a1a100
}
.c .kw1 {
	COLOR: #a1a100
}
.c_mac .kw1 {
	COLOR: #a1a100
}
.caddcl .kw1 {
	COLOR: #a1a100
}
.cadlisp .kw1 {
	COLOR: #a1a100
}
.cpp .kw1 {
	COLOR: #a1a100
}
.csharp .kw1 {
	COLOR: #a1a100
}
.css .kw1 {
	COLOR: #a1a100
}
.cssgen .kw1 {
	COLOR: #a1a100
}
.d .kw1 {
	COLOR: #a1a100
}
.delphi .kw1 {
	COLOR: #a1a100
}
.diff .kw1 {
	COLOR: #a1a100
}
.div .kw1 {
	COLOR: #a1a100
}
.dos .kw1 {
	COLOR: #a1a100
}
.eiffel .kw1 {
	COLOR: #a1a100
}
.freebasic .kw1 {
	COLOR: #a1a100
}
.gml .kw1 {
	COLOR: #a1a100
}
.html4strict .kw1 {
	COLOR: #a1a100
}
.ini .kw1 {
	COLOR: #a1a100
}
.inno .kw1 {
	COLOR: #a1a100
}
.java .kw1 {
	COLOR: #a1a100
}
.javascript .kw1 {
	COLOR: #a1a100
}
.lisp .kw1 {
	COLOR: #a1a100
}
.lua .kw1 {
	COLOR: #a1a100
}
.matlab .kw1 {
	COLOR: #a1a100
}
.mpasm .kw1 {
	COLOR: #a1a100
}
.mysql .kw1 {
	COLOR: #a1a100
}
.nsis .kw1 {
	COLOR: #a1a100
}
.objc .kw1 {
	COLOR: #a1a100
}
.ocaml-brief .kw1 {
	COLOR: #a1a100
}
.ocaml .kw1 {
	COLOR: #a1a100
}
.oobas .kw1 {
	COLOR: #a1a100
}
.oracle8 .kw1 {
	COLOR: #a1a100
}
.pascal .kw1 {
	COLOR: #a1a100
}
.perl .kw1 {
	COLOR: #a1a100
}
.php-brief .kw1 {
	COLOR: #a1a100
}
.php .kw1 {
	COLOR: #a1a100
}
.python .kw1 {
	COLOR: #a1a100
}
.qbasic .kw1 {
	COLOR: #a1a100
}
.ruby .kw1 {
	COLOR: #a1a100
}
.scheme .kw1 {
	COLOR: #a1a100
}
.sdlbasic .kw1 {
	COLOR: #a1a100
}
.smarty .kw1 {
	COLOR: #a1a100
}
.sql .kw1 {
	COLOR: #a1a100
}
.vb .kw1 {
	COLOR: #a1a100
}
.vbnet .kw1 {
	COLOR: #a1a100
}
.vhdl .kw1 {
	COLOR: #a1a100
}
.visualfoxpro .kw1 {
	COLOR: #a1a100
}
.xml .kw1 {
	COLOR: #a1a100
}
#mesdiscussions .actionscript-french .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.actionscript .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.ada .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.apache .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.applescript .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.asm .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.asp .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.bash .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.blitzbasic .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.c .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.c_mac .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.caddcl .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.cadlisp .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.cpp .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.csharp .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.css .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.cssgen .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.d .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.delphi .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.diff .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.div .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.dos .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.eiffel .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.freebasic .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.gml .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.html4strict .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.ini .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.inno .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.java .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.javascript .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.lisp .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.lua .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.matlab .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.mpasm .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.mysql .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.nsis .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.objc .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.ocaml-brief .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.ocaml .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.oobas .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.oracle8 .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.pascal .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.perl .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.php-brief .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.php .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.python .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.qbasic .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.ruby .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.scheme .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.sdlbasic .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.smarty .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.sql .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.vb .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.vbnet .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.vhdl .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.visualfoxpro .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
.xml .kw2 {
	FONT-WEIGHT: bold; COLOR: #000
}
#mesdiscussions .actionscript-french .kw3 {
	COLOR: #000066
}
.actionscript .kw3 {
	COLOR: #000066
}
.ada .kw3 {
	COLOR: #000066
}
.apache .kw3 {
	COLOR: #000066
}
.applescript .kw3 {
	COLOR: #000066
}
.asm .kw3 {
	COLOR: #000066
}
.asp .kw3 {
	COLOR: #000066
}
.bash .kw3 {
	COLOR: #000066
}
.blitzbasic .kw3 {
	COLOR: #000066
}
.c .kw3 {
	COLOR: #000066
}
.c_mac .kw3 {
	COLOR: #000066
}
.caddcl .kw3 {
	COLOR: #000066
}
.cadlisp .kw3 {
	COLOR: #000066
}
.cpp .kw3 {
	COLOR: #000066
}
.csharp .kw3 {
	COLOR: #000066
}
.css .kw3 {
	COLOR: #000066
}
.cssgen .kw3 {
	COLOR: #000066
}
.d .kw3 {
	COLOR: #000066
}
.delphi .kw3 {
	COLOR: #000066
}
.diff .kw3 {
	COLOR: #000066
}
.div .kw3 {
	COLOR: #000066
}
.dos .kw3 {
	COLOR: #000066
}
.eiffel .kw3 {
	COLOR: #000066
}
.freebasic .kw3 {
	COLOR: #000066
}
.gml .kw3 {
	COLOR: #000066
}
.html4strict .kw3 {
	COLOR: #000066
}
.ini .kw3 {
	COLOR: #000066
}
.inno .kw3 {
	COLOR: #000066
}
.java .kw3 {
	COLOR: #000066
}
.javascript .kw3 {
	COLOR: #000066
}
.lisp .kw3 {
	COLOR: #000066
}
.lua .kw3 {
	COLOR: #000066
}
.matlab .kw3 {
	COLOR: #000066
}
.mpasm .kw3 {
	COLOR: #000066
}
.mysql .kw3 {
	COLOR: #000066
}
.nsis .kw3 {
	COLOR: #000066
}
.objc .kw3 {
	COLOR: #000066
}
.ocaml-brief .kw3 {
	COLOR: #000066
}
.ocaml .kw3 {
	COLOR: #000066
}
.oobas .kw3 {
	COLOR: #000066
}
.oracle8 .kw3 {
	COLOR: #000066
}
.pascal .kw3 {
	COLOR: #000066
}
.perl .kw3 {
	COLOR: #000066
}
.php-brief .kw3 {
	COLOR: #000066
}
.php .kw3 {
	COLOR: #000066
}
.python .kw3 {
	COLOR: #000066
}
.qbasic .kw3 {
	COLOR: #000066
}
.ruby .kw3 {
	COLOR: #000066
}
.scheme .kw3 {
	COLOR: #000066
}
.sdlbasic .kw3 {
	COLOR: #000066
}
.smarty .kw3 {
	COLOR: #000066
}
.sql .kw3 {
	COLOR: #000066
}
.vb .kw3 {
	COLOR: #000066
}
.vbnet .kw3 {
	COLOR: #000066
}
.vhdl .kw3 {
	COLOR: #000066
}
.visualfoxpro .kw3 {
	COLOR: #000066
}
.xml .kw3 {
	COLOR: #000066
}
#mesdiscussions .actionscript-french .kw4 {
	COLOR: #f63333
}
.actionscript .kw4 {
	COLOR: #f63333
}
.ada .kw4 {
	COLOR: #f63333
}
.apache .kw4 {
	COLOR: #f63333
}
.applescript .kw4 {
	COLOR: #f63333
}
.asm .kw4 {
	COLOR: #f63333
}
.asp .kw4 {
	COLOR: #f63333
}
.bash .kw4 {
	COLOR: #f63333
}
.blitzbasic .kw4 {
	COLOR: #f63333
}
.c .kw4 {
	COLOR: #f63333
}
.c_mac .kw4 {
	COLOR: #f63333
}
.caddcl .kw4 {
	COLOR: #f63333
}
.cadlisp .kw4 {
	COLOR: #f63333
}
.cpp .kw4 {
	COLOR: #f63333
}
.csharp .kw4 {
	COLOR: #f63333
}
.css .kw4 {
	COLOR: #f63333
}
.cssgen .kw4 {
	COLOR: #f63333
}
.d .kw4 {
	COLOR: #f63333
}
.delphi .kw4 {
	COLOR: #f63333
}
.diff .kw4 {
	COLOR: #f63333
}
.div .kw4 {
	COLOR: #f63333
}
.dos .kw4 {
	COLOR: #f63333
}
.eiffel .kw4 {
	COLOR: #f63333
}
.freebasic .kw4 {
	COLOR: #f63333
}
.gml .kw4 {
	COLOR: #f63333
}
.html4strict .kw4 {
	COLOR: #f63333
}
.ini .kw4 {
	COLOR: #f63333
}
.inno .kw4 {
	COLOR: #f63333
}
.java .kw4 {
	COLOR: #f63333
}
.javascript .kw4 {
	COLOR: #f63333
}
.lisp .kw4 {
	COLOR: #f63333
}
.lua .kw4 {
	COLOR: #f63333
}
.matlab .kw4 {
	COLOR: #f63333
}
.mpasm .kw4 {
	COLOR: #f63333
}
.mysql .kw4 {
	COLOR: #f63333
}
.nsis .kw4 {
	COLOR: #f63333
}
.objc .kw4 {
	COLOR: #f63333
}
.ocaml-brief .kw4 {
	COLOR: #f63333
}
.ocaml .kw4 {
	COLOR: #f63333
}
.oobas .kw4 {
	COLOR: #f63333
}
.oracle8 .kw4 {
	COLOR: #f63333
}
.pascal .kw4 {
	COLOR: #f63333
}
.perl .kw4 {
	COLOR: #f63333
}
.php-brief .kw4 {
	COLOR: #f63333
}
.php .kw4 {
	COLOR: #f63333
}
.python .kw4 {
	COLOR: #f63333
}
.qbasic .kw4 {
	COLOR: #f63333
}
.ruby .kw4 {
	COLOR: #f63333
}
.scheme .kw4 {
	COLOR: #f63333
}
.sdlbasic .kw4 {
	COLOR: #f63333
}
.smarty .kw4 {
	COLOR: #f63333
}
.sql .kw4 {
	COLOR: #f63333
}
.vb .kw4 {
	COLOR: #f63333
}
.vbnet .kw4 {
	COLOR: #f63333
}
.vhdl .kw4 {
	COLOR: #f63333
}
.visualfoxpro .kw4 {
	COLOR: #f63333
}
.xml .kw4 {
	COLOR: #f63333
}
#mesdiscussions .actionscript-french .co1 {
	COLOR: #808080
}
.actionscript-french .co2 {
	COLOR: #808080
}
.actionscript-french .coMULTI {
	COLOR: #808080
}
.actionscript .co1 {
	COLOR: #808080
}
.actionscript .co2 {
	COLOR: #808080
}
.actionscript .coMULTI {
	COLOR: #808080
}
.ada .co1 {
	COLOR: #808080
}
.ada .co2 {
	COLOR: #808080
}
.ada .coMULTI {
	COLOR: #808080
}
.apache .co1 {
	COLOR: #808080
}
.apache .co2 {
	COLOR: #808080
}
.apache .coMULTI {
	COLOR: #808080
}
.applescript .co1 {
	COLOR: #808080
}
.applescript .co2 {
	COLOR: #808080
}
.applescript .coMULTI {
	COLOR: #808080
}
.asm .co1 {
	COLOR: #808080
}
.asm .co2 {
	COLOR: #808080
}
.asm .coMULTI {
	COLOR: #808080
}
.asp .co1 {
	COLOR: #808080
}
.asp .co2 {
	COLOR: #808080
}
.asp .coMULTI {
	COLOR: #808080
}
.bash .co1 {
	COLOR: #808080
}
.bash .co2 {
	COLOR: #808080
}
.bash .coMULTI {
	COLOR: #808080
}
.blitzbasic .co1 {
	COLOR: #808080
}
.blitzbasic .co2 {
	COLOR: #808080
}
.blitzbasic .coMULTI {
	COLOR: #808080
}
.c .co1 {
	COLOR: #808080
}
.c .co2 {
	COLOR: #808080
}
.c .coMULTI {
	COLOR: #808080
}
.c_mac .co1 {
	COLOR: #808080
}
.c_mac .co2 {
	COLOR: #808080
}
.c_mac .coMULTI {
	COLOR: #808080
}
.caddcl .co1 {
	COLOR: #808080
}
.caddcl .co2 {
	COLOR: #808080
}
.caddcl .coMULTI {
	COLOR: #808080
}
.cadlisp .co1 {
	COLOR: #808080
}
.cadlisp .co2 {
	COLOR: #808080
}
.cadlisp .coMULTI {
	COLOR: #808080
}
.cpp .co1 {
	COLOR: #808080
}
.cpp .co2 {
	COLOR: #808080
}
.cpp .coMULTI {
	COLOR: #808080
}
.csharp .co1 {
	COLOR: #808080
}
.csharp .co2 {
	COLOR: #808080
}
.csharp .coMULTI {
	COLOR: #808080
}
.css .co1 {
	COLOR: #808080
}
.css .co2 {
	COLOR: #808080
}
.css .coMULTI {
	COLOR: #808080
}
.cssgen .co1 {
	COLOR: #808080
}
.cssgen .co2 {
	COLOR: #808080
}
.cssgen .coMULTI {
	COLOR: #808080
}
.d .co1 {
	COLOR: #808080
}
.d .co2 {
	COLOR: #808080
}
.d .coMULTI {
	COLOR: #808080
}
.delphi .co1 {
	COLOR: #808080
}
.delphi .co2 {
	COLOR: #808080
}
.delphi .coMULTI {
	COLOR: #808080
}
.diff .co1 {
	COLOR: #808080
}
.diff .co2 {
	COLOR: #808080
}
.diff .coMULTI {
	COLOR: #808080
}
.div .co1 {
	COLOR: #808080
}
.div .co2 {
	COLOR: #808080
}
.div .coMULTI {
	COLOR: #808080
}
.dos .co1 {
	COLOR: #808080
}
.dos .co2 {
	COLOR: #808080
}
.dos .coMULTI {
	COLOR: #808080
}
.eiffel .co1 {
	COLOR: #808080
}
.eiffel .co2 {
	COLOR: #808080
}
.eiffel .coMULTI {
	COLOR: #808080
}
.freebasic .co1 {
	COLOR: #808080
}
.freebasic .co2 {
	COLOR: #808080
}
.freebasic .coMULTI {
	COLOR: #808080
}
.gml .co1 {
	COLOR: #808080
}
.gml .co2 {
	COLOR: #808080
}
.gml .coMULTI {
	COLOR: #808080
}
.html4strict .co1 {
	COLOR: #808080
}
.html4strict .co2 {
	COLOR: #808080
}
.html4strict .coMULTI {
	COLOR: #808080
}
.ini .co1 {
	COLOR: #808080
}
.ini .co2 {
	COLOR: #808080
}
.ini .coMULTI {
	COLOR: #808080
}
.inno .co1 {
	COLOR: #808080
}
.inno .co2 {
	COLOR: #808080
}
.inno .coMULTI {
	COLOR: #808080
}
.java .co1 {
	COLOR: #808080
}
.java .co2 {
	COLOR: #808080
}
.java .coMULTI {
	COLOR: #808080
}
.javascript .co1 {
	COLOR: #808080
}
.javascript .co2 {
	COLOR: #808080
}
.javascript .coMULTI {
	COLOR: #808080
}
.lisp .co1 {
	COLOR: #808080
}
.lisp .co2 {
	COLOR: #808080
}
.lisp .coMULTI {
	COLOR: #808080
}
.lua .co1 {
	COLOR: #808080
}
.lua .co2 {
	COLOR: #808080
}
.lua .coMULTI {
	COLOR: #808080
}
.matlab .co1 {
	COLOR: #808080
}
.matlab .co2 {
	COLOR: #808080
}
.matlab .coMULTI {
	COLOR: #808080
}
.mpasm .co1 {
	COLOR: #808080
}
.mpasm .co2 {
	COLOR: #808080
}
.mpasm .coMULTI {
	COLOR: #808080
}
.mysql .co1 {
	COLOR: #808080
}
.mysql .co2 {
	COLOR: #808080
}
.mysql .coMULTI {
	COLOR: #808080
}
.nsis .co1 {
	COLOR: #808080
}
.nsis .co2 {
	COLOR: #808080
}
.nsis .coMULTI {
	COLOR: #808080
}
.objc .co1 {
	COLOR: #808080
}
.objc .co2 {
	COLOR: #808080
}
.objc .coMULTI {
	COLOR: #808080
}
.ocaml-brief .co1 {
	COLOR: #808080
}
.ocaml-brief .co2 {
	COLOR: #808080
}
.ocaml-brief .coMULTI {
	COLOR: #808080
}
.ocaml .co1 {
	COLOR: #808080
}
.ocaml .co2 {
	COLOR: #808080
}
.ocaml .coMULTI {
	COLOR: #808080
}
.oobas .co1 {
	COLOR: #808080
}
.oobas .co2 {
	COLOR: #808080
}
.oobas .coMULTI {
	COLOR: #808080
}
.oracle8 .co1 {
	COLOR: #808080
}
.oracle8 .co2 {
	COLOR: #808080
}
.oracle8 .coMULTI {
	COLOR: #808080
}
.pascal .co1 {
	COLOR: #808080
}
.pascal .co2 {
	COLOR: #808080
}
.pascal .coMULTI {
	COLOR: #808080
}
.perl .co1 {
	COLOR: #808080
}
.perl .co2 {
	COLOR: #808080
}
.perl .coMULTI {
	COLOR: #808080
}
.php-brief .co1 {
	COLOR: #808080
}
.php-brief .co2 {
	COLOR: #808080
}
.php-brief .coMULTI {
	COLOR: #808080
}
.php .co1 {
	COLOR: #808080
}
.php .co2 {
	COLOR: #808080
}
.php .coMULTI {
	COLOR: #808080
}
.python .co1 {
	COLOR: #808080
}
.python .co2 {
	COLOR: #808080
}
.python .coMULTI {
	COLOR: #808080
}
.qbasic .co1 {
	COLOR: #808080
}
.qbasic .co2 {
	COLOR: #808080
}
.qbasic .coMULTI {
	COLOR: #808080
}
.ruby .co1 {
	COLOR: #808080
}
.ruby .co2 {
	COLOR: #808080
}
.ruby .coMULTI {
	COLOR: #808080
}
.scheme .co1 {
	COLOR: #808080
}
.scheme .co2 {
	COLOR: #808080
}
.scheme .coMULTI {
	COLOR: #808080
}
.sdlbasic .co1 {
	COLOR: #808080
}
.sdlbasic .co2 {
	COLOR: #808080
}
.sdlbasic .coMULTI {
	COLOR: #808080
}
.smarty .co1 {
	COLOR: #808080
}
.smarty .co2 {
	COLOR: #808080
}
.smarty .coMULTI {
	COLOR: #808080
}
.sql .co1 {
	COLOR: #808080
}
.sql .co2 {
	COLOR: #808080
}
.sql .coMULTI {
	COLOR: #808080
}
.vb .co1 {
	COLOR: #808080
}
.vb .co2 {
	COLOR: #808080
}
.vb .coMULTI {
	COLOR: #808080
}
.vbnet .co1 {
	COLOR: #808080
}
.vbnet .co2 {
	COLOR: #808080
}
.vbnet .coMULTI {
	COLOR: #808080
}
.vhdl .co1 {
	COLOR: #808080
}
.vhdl .co2 {
	COLOR: #808080
}
.vhdl .coMULTI {
	COLOR: #808080
}
.visualfoxpro .co1 {
	COLOR: #808080
}
.visualfoxpro .co2 {
	COLOR: #808080
}
.visualfoxpro .coMULTI {
	COLOR: #808080
}
.xml .co1 {
	COLOR: #808080
}
.xml .co2 {
	COLOR: #808080
}
.xml .coMULTI {
	COLOR: #808080
}
#mesdiscussions .actionscript-french .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.actionscript .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.ada .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.apache .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.applescript .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.asm .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.asp .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.bash .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.blitzbasic .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.c .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.c_mac .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.caddcl .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.cadlisp .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.cpp .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.csharp .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.css .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.cssgen .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.d .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.delphi .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.diff .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.div .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.dos .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.eiffel .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.freebasic .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.gml .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.html4strict .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.ini .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.inno .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.java .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.javascript .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.lisp .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.lua .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.matlab .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.mpasm .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.mysql .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.nsis .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.objc .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.ocaml-brief .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.ocaml .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.oobas .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.oracle8 .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.pascal .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.perl .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.php-brief .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.php .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.python .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.qbasic .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.ruby .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.scheme .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.sdlbasic .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.smarty .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.sql .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.vb .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.vbnet .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.vhdl .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.visualfoxpro .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
.xml .es0 {
	FONT-WEIGHT: bold; COLOR: #000033
}
#mesdiscussions .actionscript-french .br0 {
	COLOR: #66cc66
}
.actionscript .br0 {
	COLOR: #66cc66
}
.ada .br0 {
	COLOR: #66cc66
}
.apache .br0 {
	COLOR: #66cc66
}
.applescript .br0 {
	COLOR: #66cc66
}
.asm .br0 {
	COLOR: #66cc66
}
.asp .br0 {
	COLOR: #66cc66
}
.bash .br0 {
	COLOR: #66cc66
}
.blitzbasic .br0 {
	COLOR: #66cc66
}
.c .br0 {
	COLOR: #66cc66
}
.c_mac .br0 {
	COLOR: #66cc66
}
.caddcl .br0 {
	COLOR: #66cc66
}
.cadlisp .br0 {
	COLOR: #66cc66
}
.cpp .br0 {
	COLOR: #66cc66
}
.csharp .br0 {
	COLOR: #66cc66
}
.css .br0 {
	COLOR: #66cc66
}
.cssgen .br0 {
	COLOR: #66cc66
}
.d .br0 {
	COLOR: #66cc66
}
.delphi .br0 {
	COLOR: #66cc66
}
.diff .br0 {
	COLOR: #66cc66
}
.div .br0 {
	COLOR: #66cc66
}
.dos .br0 {
	COLOR: #66cc66
}
.eiffel .br0 {
	COLOR: #66cc66
}
.freebasic .br0 {
	COLOR: #66cc66
}
.gml .br0 {
	COLOR: #66cc66
}
.html4strict .br0 {
	COLOR: #66cc66
}
.ini .br0 {
	COLOR: #66cc66
}
.inno .br0 {
	COLOR: #66cc66
}
.java .br0 {
	COLOR: #66cc66
}
.javascript .br0 {
	COLOR: #66cc66
}
.lisp .br0 {
	COLOR: #66cc66
}
.lua .br0 {
	COLOR: #66cc66
}
.matlab .br0 {
	COLOR: #66cc66
}
.mpasm .br0 {
	COLOR: #66cc66
}
.mysql .br0 {
	COLOR: #66cc66
}
.nsis .br0 {
	COLOR: #66cc66
}
.objc .br0 {
	COLOR: #66cc66
}
.ocaml-brief .br0 {
	COLOR: #66cc66
}
.ocaml .br0 {
	COLOR: #66cc66
}
.oobas .br0 {
	COLOR: #66cc66
}
.oracle8 .br0 {
	COLOR: #66cc66
}
.pascal .br0 {
	COLOR: #66cc66
}
.perl .br0 {
	COLOR: #66cc66
}
.php-brief .br0 {
	COLOR: #66cc66
}
.php .br0 {
	COLOR: #66cc66
}
.python .br0 {
	COLOR: #66cc66
}
.qbasic .br0 {
	COLOR: #66cc66
}
.ruby .br0 {
	COLOR: #66cc66
}
.scheme .br0 {
	COLOR: #66cc66
}
.sdlbasic .br0 {
	COLOR: #66cc66
}
.smarty .br0 {
	COLOR: #66cc66
}
.sql .br0 {
	COLOR: #66cc66
}
.vb .br0 {
	COLOR: #66cc66
}
.vbnet .br0 {
	COLOR: #66cc66
}
.vhdl .br0 {
	COLOR: #66cc66
}
.visualfoxpro .br0 {
	COLOR: #66cc66
}
.xml .br0 {
	COLOR: #66cc66
}
#mesdiscussions .actionscript-french .st0 {
	COLOR: #ff0000
}
.actionscript .st0 {
	COLOR: #ff0000
}
.ada .st0 {
	COLOR: #ff0000
}
.apache .st0 {
	COLOR: #ff0000
}
.applescript .st0 {
	COLOR: #ff0000
}
.asm .st0 {
	COLOR: #ff0000
}
.asp .st0 {
	COLOR: #ff0000
}
.bash .st0 {
	COLOR: #ff0000
}
.blitzbasic .st0 {
	COLOR: #ff0000
}
.c .st0 {
	COLOR: #ff0000
}
.c_mac .st0 {
	COLOR: #ff0000
}
.caddcl .st0 {
	COLOR: #ff0000
}
.cadlisp .st0 {
	COLOR: #ff0000
}
.cpp .st0 {
	COLOR: #ff0000
}
.csharp .st0 {
	COLOR: #ff0000
}
.css .st0 {
	COLOR: #ff0000
}
.cssgen .st0 {
	COLOR: #ff0000
}
.d .st0 {
	COLOR: #ff0000
}
.delphi .st0 {
	COLOR: #ff0000
}
.diff .st0 {
	COLOR: #ff0000
}
.div .st0 {
	COLOR: #ff0000
}
.dos .st0 {
	COLOR: #ff0000
}
.eiffel .st0 {
	COLOR: #ff0000
}
.freebasic .st0 {
	COLOR: #ff0000
}
.gml .st0 {
	COLOR: #ff0000
}
.html4strict .st0 {
	COLOR: #ff0000
}
.ini .st0 {
	COLOR: #ff0000
}
.inno .st0 {
	COLOR: #ff0000
}
.java .st0 {
	COLOR: #ff0000
}
.javascript .st0 {
	COLOR: #ff0000
}
.lisp .st0 {
	COLOR: #ff0000
}
.lua .st0 {
	COLOR: #ff0000
}
.matlab .st0 {
	COLOR: #ff0000
}
.mpasm .st0 {
	COLOR: #ff0000
}
.mysql .st0 {
	COLOR: #ff0000
}
.nsis .st0 {
	COLOR: #ff0000
}
.objc .st0 {
	COLOR: #ff0000
}
.ocaml-brief .st0 {
	COLOR: #ff0000
}
.ocaml .st0 {
	COLOR: #ff0000
}
.oobas .st0 {
	COLOR: #ff0000
}
.oracle8 .st0 {
	COLOR: #ff0000
}
.pascal .st0 {
	COLOR: #ff0000
}
.perl .st0 {
	COLOR: #ff0000
}
.php-brief .st0 {
	COLOR: #ff0000
}
.php .st0 {
	COLOR: #ff0000
}
.python .st0 {
	COLOR: #ff0000
}
.qbasic .st0 {
	COLOR: #ff0000
}
.ruby .st0 {
	COLOR: #ff0000
}
.scheme .st0 {
	COLOR: #ff0000
}
.sdlbasic .st0 {
	COLOR: #ff0000
}
.smarty .st0 {
	COLOR: #ff0000
}
.sql .st0 {
	COLOR: #ff0000
}
.vb .st0 {
	COLOR: #ff0000
}
.vbnet .st0 {
	COLOR: #ff0000
}
.vhdl .st0 {
	COLOR: #ff0000
}
.visualfoxpro .st0 {
	COLOR: #ff0000
}
.xml .st0 {
	COLOR: #ff0000
}
#mesdiscussions .actionscript-french .nu0 {
	COLOR: #ff33ff
}
.actionscript .nu0 {
	COLOR: #ff33ff
}
.ada .nu0 {
	COLOR: #ff33ff
}
.apache .nu0 {
	COLOR: #ff33ff
}
.applescript .nu0 {
	COLOR: #ff33ff
}
.asm .nu0 {
	COLOR: #ff33ff
}
.asp .nu0 {
	COLOR: #ff33ff
}
.bash .nu0 {
	COLOR: #ff33ff
}
.blitzbasic .nu0 {
	COLOR: #ff33ff
}
.c .nu0 {
	COLOR: #ff33ff
}
.c_mac .nu0 {
	COLOR: #ff33ff
}
.caddcl .nu0 {
	COLOR: #ff33ff
}
.cadlisp .nu0 {
	COLOR: #ff33ff
}
.cpp .nu0 {
	COLOR: #ff33ff
}
.csharp .nu0 {
	COLOR: #ff33ff
}
.css .nu0 {
	COLOR: #ff33ff
}
.cssgen .nu0 {
	COLOR: #ff33ff
}
.d .nu0 {
	COLOR: #ff33ff
}
.delphi .nu0 {
	COLOR: #ff33ff
}
.diff .nu0 {
	COLOR: #ff33ff
}
.div .nu0 {
	COLOR: #ff33ff
}
.dos .nu0 {
	COLOR: #ff33ff
}
.eiffel .nu0 {
	COLOR: #ff33ff
}
.freebasic .nu0 {
	COLOR: #ff33ff
}
.gml .nu0 {
	COLOR: #ff33ff
}
.html4strict .nu0 {
	COLOR: #ff33ff
}
.ini .nu0 {
	COLOR: #ff33ff
}
.inno .nu0 {
	COLOR: #ff33ff
}
.java .nu0 {
	COLOR: #ff33ff
}
.javascript .nu0 {
	COLOR: #ff33ff
}
.lisp .nu0 {
	COLOR: #ff33ff
}
.lua .nu0 {
	COLOR: #ff33ff
}
.matlab .nu0 {
	COLOR: #ff33ff
}
.mpasm .nu0 {
	COLOR: #ff33ff
}
.mysql .nu0 {
	COLOR: #ff33ff
}
.nsis .nu0 {
	COLOR: #ff33ff
}
.objc .nu0 {
	COLOR: #ff33ff
}
.ocaml-brief .nu0 {
	COLOR: #ff33ff
}
.ocaml .nu0 {
	COLOR: #ff33ff
}
.oobas .nu0 {
	COLOR: #ff33ff
}
.oracle8 .nu0 {
	COLOR: #ff33ff
}
.pascal .nu0 {
	COLOR: #ff33ff
}
.perl .nu0 {
	COLOR: #ff33ff
}
.php-brief .nu0 {
	COLOR: #ff33ff
}
.php .nu0 {
	COLOR: #ff33ff
}
.python .nu0 {
	COLOR: #ff33ff
}
.qbasic .nu0 {
	COLOR: #ff33ff
}
.ruby .nu0 {
	COLOR: #ff33ff
}
.scheme .nu0 {
	COLOR: #ff33ff
}
.sdlbasic .nu0 {
	COLOR: #ff33ff
}
.smarty .nu0 {
	COLOR: #ff33ff
}
.sql .nu0 {
	COLOR: #ff33ff
}
.vb .nu0 {
	COLOR: #ff33ff
}
.vbnet .nu0 {
	COLOR: #ff33ff
}
.vhdl .nu0 {
	COLOR: #ff33ff
}
.visualfoxpro .nu0 {
	COLOR: #ff33ff
}
.xml .nu0 {
	COLOR: #ff33ff
}
#mesdiscussions .actionscript-french .me0 {
	COLOR: #006600
}
.actionscript .me0 {
	COLOR: #006600
}
.ada .me0 {
	COLOR: #006600
}
.apache .me0 {
	COLOR: #006600
}
.applescript .me0 {
	COLOR: #006600
}
.asm .me0 {
	COLOR: #006600
}
.asp .me0 {
	COLOR: #006600
}
.bash .me0 {
	COLOR: #006600
}
.blitzbasic .me0 {
	COLOR: #006600
}
.c .me0 {
	COLOR: #006600
}
.c_mac .me0 {
	COLOR: #006600
}
.caddcl .me0 {
	COLOR: #006600
}
.cadlisp .me0 {
	COLOR: #006600
}
.cpp .me0 {
	COLOR: #006600
}
.csharp .me0 {
	COLOR: #006600
}
.css .me0 {
	COLOR: #006600
}
.cssgen .me0 {
	COLOR: #006600
}
.d .me0 {
	COLOR: #006600
}
.delphi .me0 {
	COLOR: #006600
}
.diff .me0 {
	COLOR: #006600
}
.div .me0 {
	COLOR: #006600
}
.dos .me0 {
	COLOR: #006600
}
.eiffel .me0 {
	COLOR: #006600
}
.freebasic .me0 {
	COLOR: #006600
}
.gml .me0 {
	COLOR: #006600
}
.html4strict .me0 {
	COLOR: #006600
}
.ini .me0 {
	COLOR: #006600
}
.inno .me0 {
	COLOR: #006600
}
.java .me0 {
	COLOR: #006600
}
.javascript .me0 {
	COLOR: #006600
}
.lisp .me0 {
	COLOR: #006600
}
.lua .me0 {
	COLOR: #006600
}
.matlab .me0 {
	COLOR: #006600
}
.mpasm .me0 {
	COLOR: #006600
}
.mysql .me0 {
	COLOR: #006600
}
.nsis .me0 {
	COLOR: #006600
}
.objc .me0 {
	COLOR: #006600
}
.ocaml-brief .me0 {
	COLOR: #006600
}
.ocaml .me0 {
	COLOR: #006600
}
.oobas .me0 {
	COLOR: #006600
}
.oracle8 .me0 {
	COLOR: #006600
}
.pascal .me0 {
	COLOR: #006600
}
.perl .me0 {
	COLOR: #006600
}
.php-brief .me0 {
	COLOR: #006600
}
.php .me0 {
	COLOR: #006600
}
.python .me0 {
	COLOR: #006600
}
.qbasic .me0 {
	COLOR: #006600
}
.ruby .me0 {
	COLOR: #006600
}
.scheme .me0 {
	COLOR: #006600
}
.sdlbasic .me0 {
	COLOR: #006600
}
.smarty .me0 {
	COLOR: #006600
}
.sql .me0 {
	COLOR: #006600
}
.vb .me0 {
	COLOR: #006600
}
.vbnet .me0 {
	COLOR: #006600
}
.vhdl .me0 {
	COLOR: #006600
}
.visualfoxpro .me0 {
	COLOR: #006600
}
.xml .me0 {
	COLOR: #006600
}
#moderne .toolbar {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/icones/moderne/bground.jpg)
}
#moderne #toolbartransit {
	BACKGROUND-IMAGE: url(http://forum-images.hardware.fr/icones/moderne/bground.jpg)
}
