BODY {
	FONT-SIZE: 90%; MARGIN: 1em 3em auto; COLOR: #505050; FONT-FAMILY: Verdana, "Lucida Sans", Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff; max-width: 47em
}
DIV.toc {
	FONT-SIZE: 0.9em
}
.signature {
	BORDER-TOP: 1px solid; TEXT-ALIGN: right
}
.attention {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: 1px solid; PADDING-LEFT: 1em; FLOAT: right; PADDING-BOTTOM: 1em; MARGIN: 0px 0px 1em 1em; BORDER-LEFT: 1px solid; WIDTH: 25em; COLOR: #505090; PADDING-TOP: 1em; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eef
}
P {
	TEXT-ALIGN: justify
}
DT {
	FONT-WEIGHT: bold; MARGIN: 0.4em 0px
}
DD {
	MARGIN-LEFT: 1em; TEXT-ALIGN: justify
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	MARGIN-LEFT: 0em
}
OL {
	MARGIN-LEFT: 1em
}
LI {
	MARGIN: 0.5em 0px 0px 1em; TEXT-ALIGN: justify
}
TT {
	COLOR: #a00; FONT-FAMILY: "Courier New", Courier, monospace
}
CODE {
	COLOR: #a00; FONT-FAMILY: "Courier New", Courier, monospace
}
CODE A:link {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
CODE A:visited {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
CODE A:hover {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
A:link CODE {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
A:visited CODE {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
A:hover CODE {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
CODE A:visited {
	COLOR: #06f; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
A:visited CODE {
	COLOR: #06f; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: underline
}
PRE {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px 0px 0px; BORDER-LEFT: #aaa 1px solid; COLOR: #a00; PADDING-TOP: 3px; FONT-FAMILY: "Courier New", Courier, monospace; BACKGROUND-COLOR: #fff0e0
}
UNKNOWN {
	MARGIN: 0px
}
PRE A:link {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace
}
A:link PRE {
	COLOR: #00a; FONT-FAMILY: "Courier New", Courier, monospace
}
HR {
	DISPLAY: none
}
H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H2 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H4 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H5 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H6 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: -10px; COLOR: #559; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef
}
H1 {
	PADDING-RIGHT: 0px; BORDER-TOP: 3px double; MARGIN-TOP: 1em; PADDING-LEFT: 5px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 3px; MARGIN-LEFT: -20px; PADDING-TOP: 3px; BORDER-BOTTOM: 3px double
}
H2 {
	PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; MARGIN-TOP: 2em; PADDING-LEFT: 5px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 2px; MARGIN-LEFT: -20px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
H3 {
	BORDER-TOP: 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 1.3em; FONT-STYLE: italic
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
A:link {
	COLOR: #00a
}
A:visited {
	COLOR: #06f
}
A:active {
	COLOR: #00f
}
UNKNOWN {
	BACKGROUND-COLOR: #eef
}
